@font-face {
    font-family: 'Buran';
    src: url('fonts/BuranUSSR.ttf'); /* IE9 Compat Modes */
  }

body{
    margin : 0;
    font-family: 'Buran';
    font-size: 1.2em;
}

.header {
    margin-top: 2em;


    width: 100%;
    height: 3em;
    background-color: #E6D347;

    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);

    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
}
.iconeBase {
  display: block;
  padding-top: 15vh;
  margin: auto;
  opacity: 0.9;
}
.rustyTop{
  /* background-color: white; */
  color: #2A2925;
  float: left;
  height: 100%;
  padding-left: 3em;
  padding-right: 1em;
  text-shadow: 0.1em 0.1em rgb(173, 172, 166);
  -webkit-transition: .4s;
  transition: .8s;
  line-height: 2.7em;
  /* border-right: solid; */
  /* border-width: 1em; */
}
.rustyTop:hover{
  border-width: 1.5em;
}

.languageBox{
    float: right;
    height: 2em;
    padding: 0.85em 4em 0.5em 2em;
    line-height: 1.3em;
}

/* .languageBoxSwitch{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.4em;
  height: 24px;
  background-color: rgb(255, 255, 255);
} */

.switch {
float: left;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6DA544;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 10px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(199, 28, 28);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .flags{
    float: left;
  }
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */


/* VIDEOOOOO */
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;}

  @media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}