@font-face {
    font-family: 'Buran';
    src: url('fonts/BuranUSSR.ttf'); /* IE9 Compat Modes */
  }

body{
    margin : 0;
    font-family: 'Buran';
    font-size: 1.2em;
}

.header {
    float: left;

    margin-left: -2vw;
    margin-top: 2em;
    font-size: 2vw;

    width: 105vw;
    height: 3em;
    background-color: #E6D347;

    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);

    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
}
.iconeBase {
  display: block;
  padding-top: 15vh;
  margin: auto;
  opacity: 0.9;
}
.rustyTop{
  /* background-color: white; */
  color: #2A2925;
  float: left;
  height: 100%;
  padding-top: 0.4vw;
  padding-left: 3em;
  padding-right: 1em;
  text-shadow: 0.1em 0.1em rgb(173, 172, 166);
  -webkit-transition: .4s;
  transition: .8s;
  line-height: 2.7em;
  /* border-right: solid; */
  /* border-width: 1em; */
}
.rustyTop:hover{
  border-width: 1.5em;
}

.languageBox{
    float: right;
    height: 2em;
    padding: 0.85em 4em 0.5em 2em;
    line-height: 1.3em;
}

/* .languageBoxSwitch{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.4em;
  height: 24px;
  background-color: rgb(255, 255, 255);
} */

.switch {
float: left;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

.pag2_aba {
  float: left;
  padding: 1vw;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
  width: 30vw;
  height: 97.2vh;
  margin: 1.4vw;
  background-color: rgb(17, 15, 12);
  color: white;
  z-index: -1;
  transition: 2s;
  border-bottom: 0vw solid rgb(0, 0, 14);
}
.pag2_aba:hover{
  background-color: rgb(10, 10, 10);
  transition: 1.2s;
  border-bottom: 10vw solid rgb(0, 0, 14);
}


.caixaQuemSomos {
  width: 100%;
  float: left;
  margin-left: -2vw;  


}
.quemsomos{
  float: left;
  overflow: visible;

  font-size: 1.2em;
  height: 3vw;

  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;

  background-color: rgb(48, 44, 37);
  font-weight: 700;
  z-index: 10;

  margin-left: -0.9vw;

  
}

.sombraQuemSomos {
  float: left;

  height: 0;
  width: 0;

  border-right:1vw solid black;
  border: top 1vw solid black;
  border-left:1vw solid transparent;
  border-bottom:1vw solid transparent;


  margin-left: -0.9vw;
  margin-top: 3vw;

}