@font-face {
    font-family: 'Buran';
    src: url('fonts/BuranUSSR.ttf'); /* IE9 Compat Modes */
  }



body{
    margin : 0;
    font-family: 'Buran';
    font-size: 1.2em;
    background-color: rgb(223, 215, 158);
}

.header {
    float: left;

    margin-left: -2vw;
    margin-top: 2em;
    font-size: 2vw;

    width: 105vw;
    height: 3em;
    background-color: #E6D347;

    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);

    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
}
.iconeBase {
  display: block;
  padding-top: 15vh;
  margin: auto;
  opacity: 0.9;
}
.rustyTop{
  /* background-color: white; */
  color: #2A2925;
  float: left;
  height: 100%;
  padding-top: 0.4vw;
  padding-left: 3em;
  padding-right: 1em;
  text-shadow: 0.1em 0.1em rgb(173, 172, 166);
  -webkit-transition: .4s;
  transition: .8s;
  line-height: 2.7em;
  /* border-right: solid; */
  /* border-width: 1em; */
}
.rustyTop:hover{
  border-width: 1.5em;
}

.languageBox{
    float: right;
    height: 2vw;
    padding: 0.85em 4em 0.5em 2em;
    line-height: 1.3em;
}

/* .languageBoxSwitch{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.4em;
  height: 24px;
  background-color: rgb(255, 255, 255);
} */

.switch {
    float: left;
    position: relative;
    display: inline-block;
    width: 3.4vw;
    height: 1.5vw;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

.pag2{
  font-family: 'Raleway', sans-serif;
}
.menuPag2 {
  float: left;
  font-size: 1.6vw;
  margin-left: 2vw;
  padding-top: 2vw;  
  width: 30vw;
  height: 100vh;
  background-color: antiquewhite;
  
}

.iconeMenuP2{
  float: left;
  height: 6vw;
  width: 6vw;
  background-color: rgb(226, 177, 0);
  transition: 0.3s;
}


.textoBotaoPag2 {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 2vw;
  margin: auto;
}
.iconep2{
  width: 3.5vw;
  margin-top: 1.25vw;
  
}
.botaoMenuP2 {
  margin: auto;
  color: #2A2925;
  font-weight: bold;
  background-color: #FCC400;
  width: 25vw;
  height: 6vw;
  transition: 0.3s;
}

.botaoMenuP2:hover .iconeMenuP2 {
  background-color: #C48727;
  transition: 0.3s;
  animation: swing 1s ease;
}
.botaoMenuP2:hover {
  background-color: #EBAD29;
  transition: 0.3s;
}
.caixaPartner {
  margin: auto;
  width: 25vw;
  height: 17vw;
  background-color: #9B8B80;
  padding: 1.5vw;
  font-size: 1.1vw;
  text-align: justify;
}

.caixaTextualPag2 {
 float: left;
 margin-left: 2vw;
 width: 60vw;
 height: 100vh;
 background-color: rgba(250, 250, 250, 0.384);
}



@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}











.mouseDownAnim {
  margin: auto;

  left: 46vw;

  width: 7vw;
  height: 2vw;
 
  position: absolute;
  bottom: 0;

  border-radius: 1vw 1vw 0 0; 

  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: 999 ;
}
@keyframes example {
  0% {height: 2.5vw; opacity: 0;}
  50% {height: 2vw; opacity: 1;}
  100% {height: 2.5vw; opacity: 0;}
}
.arrowDown{
  float: left;
  border: solid black;
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.5vw;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 3.0vw;
  margin-top: -0.5vw;
}

.mouseScroll{
  margin-top: 0.5vw;
  width: 4vw;
}